<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="SebastianFlores.Krypto" Publisher="CN=117BBCF7-BEB8-4B33-9B09-A0CCAB17ADA9" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="b1e459b4-8ff1-42a9-97a2-eaed355d5ea2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Krypto</DisplayName>
    <PublisherDisplayName>Sebastian Flores</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Krypto.App">
      <uap:VisualElements DisplayName="Krypto" Square150x150Logo="Assets\M.png" Square44x44Logo="Assets\AI.png" Description="Krypto" BackgroundColor="#ff9200">
        <uap:DefaultTile Wide310x150Logo="Assets\W.png" ShortName="Krypto">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SS.png" BackgroundColor="#FF9200" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="kpt">
            <uap:DisplayName>Abrir con Krypto</uap:DisplayName>
            <uap:InfoTip>Permite encriptar el archivo seleccionado</uap:InfoTip>
            <uap:EditFlags OpenIsSafe="true" />
            <uap:SupportedFileTypes>
              <uap:FileType>.pdf</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpg</uap:FileType>
              <uap:FileType ContentType="text/plain">.txt</uap:FileType>
              <uap:FileType>.ha0</uap:FileType>
              <uap:FileType>.ha1</uap:FileType>
              <uap:FileType>.ha2</uap:FileType>
              <uap:FileType>.ha3</uap:FileType>
              <uap:FileType>.ha4</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Abrir con Krypto">
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>